body {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}

h1 {
   font-size: 50px;
}

h2 {
   font-size: 40px;
}

h1 span,
.experience-half h3 {
   color: orange;
}

.container {
   display: flex;
   margin-bottom: 50px;
}

.top-banner {
   background-image: url(images/top-banner.png);
   background-repeat: no-repeat;
}

.dream-big {
   background-image: url(images/dream-bg.png);
   background-repeat: no-repeat;
   background-position: right bottom;
}

.half-width {
   width: 50%;
   padding: 3% 2% 3% 5%;
}

.half-width img {
   width: 90%;
}

.link-button {
   padding: 10px 40px;
   color: #ffffff;
   text-decoration: none;
   background: linear-gradient(45deg, lightsalmon, tomato);
   border-radius: 5px;
}

.experience-area {
   background-image: url(images/exp-bg.png);
   background-repeat: no-repeat;
   background-position: left center;
}

.experience-area h1 {
   margin-left: 5%;
}

.experience-half {
   width: 40%;
   margin: 0 3% 0 5%;
   padding: 2% 3%;
   box-shadow: 10px 10px 40px #d8d8d8;
}

#first-half {
   border-left: 7px solid tomato;
}

#second-half {
   border-left: 7px solid blue;
}

footer p {
   margin-top: 100px;
   text-align: center;
}